@font-face {
    font-family: "BebasNeue Regular";
    src: url("fonts/bebas_neue/BebasNeue-Regular.otf");
}

html, body {
    min-width: 300px;
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-family: "BebasNeue Regular";
    font-size: 42pt;
    background-color: "red";
}

p {
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 30px;
}

a {
    font-size: 10pt;
}